<div id="content-content">
    <div class="promos-wrapper-contact">
        <div class="promos-container-contact">
            <div class="promotion-contact">
                <div class="promo-content-contact">
                    <div class="description">
                        <p class="description_title">Bolsa de trabajo</p>
                        {#<p>Envía tus comentarios o contáctanos directamente en nuestras redes sociales.</p>#}
                    </div>
                </div>
                <div class="contact_main">
                    <div id="content-section-form-contact">
                        {% embed "bolsa/contact_form.twig" %}{% endembed %}
                    </div>
                    <div class="contact_sidebar">
                        <div class="contact_social">
                            <p class="contact_social_title">Domicilio Colima</p>
                            <p>Av. Felipe Sevilla No. 536.</p>
                            <p>Col. Lomas de Circunvalación. Colima, Colima.</p>
                            <p>Tel. 01(31)2316-3263</p>
                            <p>CP. 28010</p>
                        <br>
                            <p class="contact_social_title">Domicilio Manzanillo</p>
                            <p>BLV. Miguel de la Madrid Hurtado 1058</p>
                            <p>Col. Soleares Manzanillo, Colima</p>
                            <p>Tel. 01 314 33 30 370</p>
                        <br>
                            <p class="contact_social_title">Redes sociales</p>
                            <p>Comparte tus experiencias con la comunidad Suzuki</p>
                            <div class="social fb"><a onclick="ga('send', 'event', 'Social', 'Liga_externa', 'Contacto_Facebook_Colima');" href="https://www.facebook.com/SuzukiColimaOficial/" target="_blank">Facebook Colima</a></div>
                            <div class="social fb" style="margin-top: 10px;"><a onclick="ga('send', 'event', 'Social', 'Liga_externa', 'Contacto_Facebook_Manzanillo');" href="https://www.facebook.com/SuzukiManzanilloOficial/" target="_blank">Facebook Manzanillo</a></div>
                            <div class="social in"><a onclick="ga('send', 'event', 'Social', 'Liga_externa', 'Contacto_Instagram_Gdl');" href="https://www.instagram.com/suzukiguadalajara/" target="_blank">Instagram</a></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
